[trainer]
batch_size = 10


[imitation_learning]
il_episodes = 500 
# original il_ep 3000
il_policy = orca_discrete
il_epochs = 2
# original il_epochs 50
il_learning_rate = 0.01
# increase the safety space in ORCA demonstration for robot
safety_space = 0.15
# 0.15


[train]
rl_learning_rate = 0.001
# number of batches to train at the end of training episode
train_batches = 10
# 100
# training episodes in outer loop
train_episodes = 100
# up 10000, aka epochs
# number of episodes sampled in one training episode
sample_episodes = 1
# 1; for a2c, sample_episodes >= batch_size
target_update_interval = 50
# 50
evaluation_interval = 50
# 1000
# the memory pool can roughly store 2K episodes, total size = episodes * 50
capacity = 10000
# 100,000
ac_capacity = 2000
epsilon_start = 0.5
epsilon_end = 0.1
epsilon_decay = 40
# 4000
checkpoint_interval = 20
# 1000
